// Body
$body-bg: #F0F0F0;

//Content
$content-bg: #FBF7F7;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Navbar
$navbar-gradiant-top: #7C70F7;
$navbar-gradiant-bottom: #6961F1;

// Buttons
$btn-default-color: #6961F0;
$btn-default-hover: #a8a3ff;

//Placeholder
$input-placeholder: #a5a4a4;
